
.carousel, 
.slider{
    position: relative;
    text-align: center;
    margin: 0 auto;
    padding: 0;
    max-width: 60vh;
}

.slides .slide{
float: left;
width: 20%;
}

.slide {
    width: 100%;
    position: relative;
    height: 30vh;
    top: 0;
    left: 0;
    bottom: o;
    right: 0;
}

.slide::nth-of-type(1) {
    background-color: rgb(104, 50, 62);

}
.slide::nth-of-type(2) {
    background-color: rgb(145, 179, 118);

}.slide::nth-of-type(3) {
    background-color: red;

}.slide::nth-of-type(4) {
    background-color: rgb(161, 94, 94);

}
.slide::nth-of-type(1) {
    background-color: gold;
}
.slide .items {
width: 50%;
line-height: 0;
margin: 0;
position: relative;
}

.slides .slide {
    width: 500%;
    line-height: 0;
    margin: 0;
    position: relative;
}
.slide.img {
    width: 100%;
}
.overflow {
    width: 100%;
    overflow: hidden;
}
.indicators {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
}
.indicator {
width: 1.3rem;
height: 1.3rem;
border-radius: 50%;
display: inline-block;
z-index: 2;
cursor: pointer;
background: gray;
border: sandybrown 2px solid;
opacity: 0.35;
margin: 0 2.5.px;
}
.indicator:hover .indicator:focus .indicator:active{
    opacity: 1;
}
 
.activator {
    display: none;

}
.controls{
display: 
}

.control {
    height: 3rem;
    width: 3rem;
    margin-top: -1.1rem;
    top: 50%;
    position: absolute;
    display: block;
    cursor: pointer;
    border-width: 5px 5px 0 0;
    border-style: solid;
    border-color: seashell;
    opacity: 0.35;
    outline: 0;
    z-index: 3;
}
.control:hover{
    opacity: 1;

}
.backward {
    left: 10px;
    transform: retate(-135deg);
}
.forward {
    right: 10px;
    transform: retate(45deg);
}

.activator:nth-of-type(1):checked~.slides .items {
margin-left: 0;
}
.activator:nth-of-type(1):checked~.controls:nth-of-type(1) {
    display: block;
    opacity: 1;
}
.activator:nth-of-type(1):checked~.slides indicator:nth-of-type(1){
    background-color: rgb(199, 149, 11);

    }
.activator:nth-of-type(2):checked~.slides .items {
        margin-left: -100%;
        }
.activator:nth-of-type(2):checked~.controls:nth-of-type(2) {
    display: block;
    opacity: 1;
}
.activator:nth-of-type(2):checked~.slides .indicator:nth-of-type(1) {
    background-color: rgb(73, 17, 45);
}
.activator:nth-of-type(3):checked~.slides .items {
margin-left: -200%;
}
.activator:nth-of-type(3):checked~.controls:nth-of-type(3) {
    display: block;
    opacity: 1;
}
.activator:nth-of-type(3):checked~.slides .indicator:nth-of-type(3) {
    background-color: rgb(44, 124, 80);
}
.activator:nth-of-type(4):checked~.slides .items {
margin-left: -300%;
}
.activator:nth-of-type(4):checked~.controls:nth-of-type(4) {
    display: block;
    opacity: 1;
}
.activator:nth-of-type(4):checked~.slides .indicator:nth-of-type(4) {
    background-color: rgb(12, 36, 88);
}
.activator:nth-of-type(5):checked~.slides .items {
margin-left: -400%;
}
.activator:nth-of-type(5):checked~.controls:nth-of-type(5) {
    display: block;
    opacity: 1;
}
.activator:nth-of-type(5):checked~.slides indicator:nth-of-type(5) {
    background-color: rgb(123, 167, 94);
}

.slides .item {
    transition: all 0.8s cubic-bezier(0.777 0.000 0.175 1);
}

.controls label:hover {
    opacity: 0.6;
}
.controls label .indicator{
    transition: opacity 0.3s ease-out;
}

@keyframes slider {
    0% {
        left: 0%;
    }
    10% {
        left: 0%;
    }
    20% {
        left: -100%;
    }
    30% {
        left: -200%;
    }
    40% {
        left: -300%;
    }    
    50% {
        left: -400%;
    }    
    60% {
        left: -300%;
    }
    70% {
        left: -200%;
    }    
    80% {
        left: -100%;
    }    
    90% {
        left: -100%;
    }
    100% {
        left: -0;
    }
}
.slider .items {
    animation: 30s slider infinite;
    animation-delay: 3s; /*задержка анимации*/


}

.slide2 {
position: absolute;
top: 4rem;
left: 0;
}

.slider .items:hover {
    animation-play-state: paused;
}


/*анимация гамбургера*/
/*пульсация*/
@keyframes bounce {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}
