/*Стили js*/


.added{
    border: 2px solid transparent ;
    border-radius: 50%;
    color: rgb(182, 158, 158)
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: white;
    display: grid;
    grid-template-rows: auto 1fr auto;
    box-shadow: darkred;
    transition: 0.3s;
    /*transform: translate(200%);*/
    border-left: 2px solid darkslategray;
    z-index: 100;
}
.sidebar-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}
.close-btn {
    font-size: 1.75rem;
    background: transparent;
    border-color: transparent;
    color: darkred;
    transition: 0.3s;
    cursor: pointer;
}

.close-btn:hover {
color: lightblue;
transform: rotate(360deg);
}

.sidebar .logo{
    font-size: 1.4rem;
    justify-self: center;

}
.cart-items{
display: grid;
margin: 0 auto;
gap: 2px;
height: auto;
grid-template-columns: repeat(25% 1fr, 20%);
grid-template-rows: 25% 1fr 10%;
justify-content: center;
align-content: start;
}
.cart-item{
    display: grid;

}
.price{
    grid-row: 3/4;
    grid-column: 2/3;
}
.product-price {
    margin-right: 10px;
}
.picture{
    grid-column: 1/2;
    grid-row:1/3;
}
.product-name{
    grid-column: 2/3;

}
.remove-btn{
    grid-column: 3/4;
    padding-left: 0.8rem;
}
.cart-item .picture{
    max-width: 200px;
    margin-right: 2rem;
   
}
.amount{
    padding: 0.5rem 1rem;
}
.show-sidebar{
    transform: translate(0);
}
.fa-caret-left, .fa-caret-right{
    padding-top: 0.12rem;
    font-size: 2.5rem;
    color: rgb(196, 196, 196);

}


@media(min-width:676px){
    .sidebar{
        width: 400px;
    }
}
.to-cart, .like-me{
    padding: 0 0 0.2rem;
}

.subtotal {
    font-weight: 800;
    padding-left: 2px;
}
/*
.subtotal::before{
    margin-right: 5px;
    content: '/$';
    color: var(--primary-color5);
    font-weight: 800;
    
}
/*.subtotal::after{
    margin-left: 5px;
    content: ')';
    color: var(--primary-color5);
    font-weight: 600;
    color: rgb(90, 7, 107);
}*/