/*main style*/

@import
"https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,900;1,300;1,400;1,700&display=swap";

@import
"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css";

:root {
    --primary-color1: hsl(240, 41%, 97%);
    --primary-color2: hsl(240, 39%, 92%);
    --primary-color6: hsl(0, 11%, 86%);
    --primary-color3: black;
    --primary-color4: hsl(51, 96%, 51%);
    --primary-color5: rgb(48, 52, 58);
}
html {
    font-size: 14px; 
    line-height: 1.5;
 }
  
 body {
overflow-x: hidden;
 color: var(--primary-color3);
 font-weight: 400; 
 font-weight: 400; 
 font-weight: 400; 
 font-size: 1rem;
 line-height: 1.5;
 width: 100%;
 font-family: 'Roboto', sans-serif;
 background: var(--primary-color1);
 background-image: url(../images/background-7.jpg);
 filter: alpha(Opacity=90);
 background-size: cover;
 background-position: center;
 background-repeat: no-repeat;
 background-attachment: fixed
 } 
.container {
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: auto;
    margin-right: auto;
}
/*медиа-запросы

@media (min-width: 570px){
    .container {
       max-width: 550px;
    }
    .col-sm-6 {
        flex: 0 0 calc(6*100%/12);
        max-width: 50%;
    }
    .col-sm-12{
        flex: 0 0 calc(12*100%/12);
        max-width: 100%;
    }
}
/*
@media (min-width: 744 px){
    .container {
        max-width: 720px;
    }
}
@media (min-width: 744 px){
    .col-md-4 {
        flex: 0 0 calc(4*100%/12);
        max-width: calc(4*100%/12);  
    }
}
@media (min-width: 890px){
    .container {
        max-width: 100%;
    }
}
*/
header {
    color: var(--primary-color5);
}
img {
    display: block;
}
img:hover {
    outline: 2px solid var(--primary-color5)
}

.img-fluid {
    max-width: 90%;
    /*max-height: auto*/
}
.img-fluid-1 {
    max-width: 70%;
}
.img-fluid-1:hover {
    outline: 4px solid var(--primary-color4);
}
.product {
    background-color: var(--primary-color1); 
}

.row {
    margin-left: 0px;
    margin-right: 0px;
    display: flex;
    justify-content: space-around;
    flex: wrap;
}
.col {
    max-width: 100%;
}
.col-auto,
.col-sm-12,
.col-sm-6{
    position: relative;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}
.col-1 {
    flex: 0 0 calc(100%/12);
    max-width: calc(100%/12);    
}
.col-3 {
    flex: 0 0 calc(3*100%/12);
    max-width: calc(3*100%/12);
}
.col-sm-3 {
    position: relative;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}
.col-4 {
    flex: 0 0 calc(4*100%/12);
    max-width: calc(4*100%/12);
}
.col-6 {
    flex: 0 0 calc(6*100%/12);
    max-width: calc(6*100%/12);
}
.col-sm-6 {
    position: relative;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}
.col-9 {
    flex: 0 0 calc(9*100%/12);
    max-width: calc(9*100%/12);
}
.col-12 {
    flex: 0 0 calc(12*100%/12);
    max-width: calc(12*100%/12);
}
.col-3 ul li{
    display: inline;
}
.section-style {
margin-bottom: 1rem;
} 
.section-style p {
    margin: 0.2rem 0.2rem
}
.s-st {
    margin-left: 1.5rem;
}
.para {
    color: var(--primary-color5);
    background-color: var(--primary-color6);
    margin-right: 1rem;
    }
.para div a {
    color: var(--primary-color5);
}
.para div a:hover {
    color: var(--primary-color4);
}
nav {
    padding: 3 rem 1,5 rem;
    
    background-size: cover;
}
.navbar-brand{
    font-size: 1.5rem;
    display: inline-block;
    color: var(--primary-color3);
    padding-top: 0.3125rem;
    padding-right: 0.3125rem;
    white-space: nowrap;
    font-weight: 600;
}

.nav-center {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar-links ul {
    list-style: none;
    }
.navbar-nav {
    display: flex;
    white-space: nowrap;
}
.navbar-nav a {
    display: block;
    padding: 0.75rem;
    margin: 0 1rem;
    text-decoration: none;
    color: var(--primary-color3);
}
.navbar-nav a:hover {
    color: var(--primary-color4);
}
.navbar-tool {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar-tool li{
    list-style: none;
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
}
.navbar-tool li a:hover {
    color: var(--primary-color4);
}
.navbar-tool li a {
    padding: 0 0.3rem;
    color: var(--primary-color5);
}
.o-1 {
    order: 2;
}
.o-2 {
    order: 1;
}
/*footer*/
.bg {
    color: var(--primary-color3);
}
.mt-3 {
   margin-top: 1.5rem !important;
}
.pt-5,
.py-5 {
    padding-top: 3rem !important;
}
.pt-4,
.py-4 {
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
}
.text-uppercase {
    text-transform: uppercase;
    letter-spacing: 0.1em;
}
.list-unstyled {
    list-style: none;
}
.list-unstyled li a{
    color: var(--primary-color3);
    text-decoration: none;
}
.list-unstyled li a:hover{
    color: var(--primary-color4);
}

.mb-0,
.my-0 {
    margin-bottom: 0 !important;
}
.mb-1 {
    margin-bottom: 0.25rem !important;
}

.mb-2,
.my-2 {
    margin-bottom: 0.5rem !important;
}

.mt-3,
.my-3 {
    margin-top: 1rem !important;
}
.footer-socials a i{
    display: inline-block;
    text-align: center;
    line-height: 2em;
    color: var(--primary-color3);
    width: 2em;
    height: 2em;
    margin-left: 5px;
    border: 1px solid var(--primary-color5);
    border-radius: 50px;
}
.text-muted {
    color: var(--primary-color6);
}