.btn-read {
text-align: center;
display: inline-block;
vertical-align: middle;  
margin-top: 1.5rem;
font-size: 1rem;
font-weight: 400;
line-height: 1.5rem;
padding: 0.8em 1.2em;
border-radius: 2rem;
background: linear-gradient(to left, darkgrey, grey);
vertical-align: middle;
color: black;
transition: all 0.3s;
}
.btn-read:hover {
padding: 0.8em 2em;
color: white;
background: linear-gradient(to right, darkgrey, grey)
}

.brackets a::before {
    margin-right: 10px;
    content: "[";
    transform: translateX(20px)
}

.brackets a::after {
    margin-left: 10px;
    content: "]";
}
.brackets a::before,
.brackets a::after{
    display: inline-block;
    opacity: 0;
    transition: transform 0.3s, opacity 0.3s;
}
.brackets a:hover::before,
.brackets a:hover::after{
    transform: translateX(0px);
    opacity: 1;
}
