/*Используем переменные. Объявляются в глоб.области видимости :root или  html*/
:root {
    --primary-color: rgb(10, 58, 12);
    --primary-color1: wheat;
    --primary-color3: hsl(206, 39%, 84%);
}

.primary-content {
    color: var(--primary-color);
}

/*убираем лишние пиксели (контент) 
Запрещаем скроллинг по горизонтали - overflow*/
body {
overflow-x: hidden;
color: black;
background-image: url(../images/background-5.jpg);
background-attachment: local;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
background-color: var(--primary-color3);
}


.float-left {
    float: left !important;
    }

.float-right {
    float: right !important;
}
.container {
    width: 100%;
    margin: 0em;
}
.row {
    width: 100%;
}
.col {
    width: 50%;
}
/*если нужно избавиться от float нужно его прервать. Пишем свойство очистки потока. Создаем блок без высоты и шир*/
.cf {
    content: "";
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
}
/* Добавляем контент*/
a::before {
    content: "  ♥  ";
}
a::after {
    content: "  →";
}
.bg-black {
    margin-top: 2em;
    background-color: black;
    color: var(--primary-color1);
}