/*forms*/
:root {
    --primary-color1: hsl(240, 41%, 97%);
    --primary-color2: hsl(221, 71%, 80%);
    --primary-color6: hsl(0, 11%, 86%);
    --primary-color3: black;
    --primary-color4: hsl(51, 96%, 51%);
    --primary-color5: rgb(48, 52, 58);
}
.form-control {
    display: block;
    width: 100%;
    height: calc(15rem+0.75rem+2px);
    padding: 0.375rem 0.75rem;
    font-size: 1em;
    line-height: 1.5;
    color: var(--primary-color5);
    background-color: var(--primary-color2);
    border: 1px solid var(--primary-color5);
    border-radius: 0.25rem;
}
.form-control:focus{
    color: var(--primary-color3);
    background-color: var(--primary-color1);
    border-width: 2px;
    outline: 0; 

}
.modal{
    position: fixed;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    background: transparent;
    z-index: 1000000;
    transform: all 2s ease-out;
    transition-delay: 0,2s;
    pointer-events: none;

}
.modal .dialog {
    margin: 0 auto;
    width: 50vw;
    position: relative;
    top: -1000px; 
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: linear-gradient(white, var(--primary-color5));
    box-shadow: 0 0 10px #777;
}
.modal:target {
    display: block;
    pointer-events: auto;
    background: rgba(4, 10, 30, 0.8);
    transition: all 0.5s ease-out;

}
.modal:target .dialog {
    top: 30px;
    transform: all 0.9s ease-out;
    transition-delay: 0.4s;
}
.close{
    background: var(--primary-color5);
    color: seashell;
    line-height: 26px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: 600;
    border-radius: 12px;
    box-shadow: 0 0 10px #000;
    transition: all 0.5s ease-out;
    transition-delay: 0.2s;
}
.form-link{
     color: var(--primary-color2);
     font-size: 0.95rem;
}
.form-link:hover{
    color: var(--primary-color4);
    font-size: 1rem;
}