@media (min-width: 570px) {
    .container {
        max-width: 540px;
    }
    .col-sm-12 {
        flex: 0 0 calc(12*100%/12);
        max-width: 100%;
    }
    .sm-font {
        font-weight: 600;
        font-size: 1,2rem;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 740px;
    }
    .col-md-12 {
        flex: 0 0 calc(12*100%/12);
        max-width: 100%;
    }
    .col-md-9 {
        flex: 0 0 calc(9*100%/12);
        max-width: calc(9*100%/12);
    }
    .col-md-6 {
        flex: 0 0 calc(6*100%/12);
        max-width: calc(6*100%/12);
    }
    .col-md-3 {
        flex: 0 0 calc(3*100%/12);
        max-width: calc(3*100%/12);
    }
    .md-font {
        font-weight: 600;
        font-size: 1.2rem;
    }
}

@media (min-width: 890px) {
    .container {
        max-width: 870%;
    } 
    .container-lg {
    display: flex;
    flex-wrap: wrap;
    padding-right: -15px;
    padding-left: -15px;
    }
    .col-lg-12 {
        flex: 0 0 calc(12*100%/12);
        max-width: 100%;
    }
    .col-lg-9 {
        flex: 0 0 calc(9*100%/12);
        max-width: calc(9*100%/12);
    }
    .col-lg-6 {
        flex: 0 0 calc(6*100%/12);
        max-width: calc(6*100%/12);
    }
    .col-lg-4 {
        flex: 0 0 calc(4*100%/12);
        max-width: calc(4*100%/12);
    }
    .col-lg-3 {
        flex: 0 0 calc(3*100%/12);
        max-width: calc(3*100%/12);
    }
    .lg-font {
        font-weight: 400;
        font-size: 1rem;
    }
}

@media (min-width: 1200px) {
    .container {
        min-width: 100%;
    }
    .col-xl-12 {
        flex: 0 0 calc(12*100%/12);
        max-width: 100%;
    }
    .col-xl-9 {
        flex: 0 0 calc(9*100%/12);
        max-width: calc(9*100%/12);
    }
    .col-xl-6 {
        flex: 0 0 calc(6*100%/12);
        max-width: calc(6*100%/12);
    }
    .col-xl-4 {
        flex: 0 0 calc(4*100%/12);
        max-width: calc(4*100%/12);
    }
    .col-xl-3 {
        flex: 0 0 calc(3*100%/12);
        max-width: calc(3*100%/12);
    }
    .xl-font {
        font-weight: 400;
        font-size: 1rem;
    }
}
.col-auto,
.col-sm-12,
.col-md-3,
.col-md-6,
.col-md-9,
.col-md-12,
.col-lg-3,
.col-lg-4,
.col-lg-6,
.col.lg-9,
.col-lg-12,
.col-xl-3,
.col-xl-4,
.col-xl-6,
.col.xl-9,
.col-xl-12 {
    position: relative;
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
}
