
:root {
    --primary-color1: hsl(240, 41%, 97%);
    --primary-color2: hsl(221, 71%, 80%);
    --primary-color6: hsl(0, 11%, 86%);
    --primary-color3: black;
    --primary-color4: hsl(51, 96%, 51%);
    --primary-color5: rgb(48, 52, 58);
}

.trigger{
    display: none;
}
#hamburger:checked ~.navbar-links{
position: absolute;
width: 100%;
height: auto;
left: 0;
top: 40px;
background-color: var(--primary-color6);
display: flex;
justify-content: center;
align-items: center;
z-index: 10;
transition: all 0.2s;
}
#hamburger:checked ~.navbar-links .navbar-nav{
    height: auto;
    background-color: var(--primary-color6);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
    font-weight: 600;
}