/*main style*/
@import
"https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,900;1,300;1,400;1,700&display=swap";

@import
"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css";

:root {
    --primary-color1: hsl(240, 41%, 97%);
    --primary-color2: hsl(240, 39%, 92%);
    --primary-color6: hsl(0, 11%, 86%);
    --primary-color3: black;
    --primary-color4: hsl(51, 96%, 51%);
    --primary-color5: rgb(48, 52, 58);
}
html {
    font-size: 14px; 
    line-height: 1.5;
 }
  
 body {
 overflow-x: hidden;
 color: var(--primary-color3);
 font-weight: 400; 
 font-weight: 400; 
 font-weight: 400; 
 font-size: 1rem;
 line-height: 1.5;
 width: 100%;
 font-family: 'Roboto', sans-serif;
 background: var(--primary-color1);
 background-image: url(../images/background-7.jpg);
 filter: alpha(Opacity=90);
 background-size: cover;
 background-position: center;
 background-repeat: no-repeat;
 background-attachment: fixed
 } 
.container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/*Навигаци */

nav {
    padding: 3 rem 1,5 rem;
    
    background-size: cover;
}
.navbar-brand{
    font-size: 1.5rem;
    display: inline-block;
    color: var(--primary-color3);
    padding-top: 0.3125rem;
    padding-right: 0.3125rem;
    white-space: nowrap;
    font-weight: 600;
}

.nav-center {
    width: 90vw;
    max-width: 1170vw;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar-links ul {
    list-style: none;
    }
.navbar-nav {
    display: flex;
    white-space: nowrap;
}
.navbar-nav a {
    display: block;
    padding: 0.75rem;
    margin: 0 1rem;
    text-decoration: none;
    color: var(--primary-color3);
}
.navbar-nav a:hover {
    color: var(--primary-color4);
}
.navbar-tool {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar-tool li{
    list-style: none;
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
}
.navbar-tool li a:hover {
    color: var(--primary-color4);
}
.navbar-tool li a {
    padding: 0 0.3rem;
    color: var(--primary-color5);
}

.categories{
    text-align: auto;
}
.categories a{
    text-decoration: none;
    color: var(--primary-color3--);
}
.categories a:hover{
    color: var(--primary-color4);
}

/*Витрина*/
.row {
    display: flex;
    flex-wrap: wrap;
    padding-right: -15px;
    padding-left: -15px;
}
.product {
    background-color: var(--primary-color1);
}
.bg-gold {
    background-color: gold;

}
img {
    display: block;
}
.img-fluid {
    max-width: 98%;
}
.img-fluid-1 {
    max-width: 90%;
    border: 5px solid var(--primary-color1);
    border-radius: 1em;
    
    }
.col-auto {
    position: relative;
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    
}
.col-12 {
    flex: 0 0 calc(12*100%/12);
    max-width: 100%;
}
.col-3 {
    flex: 0 0 calc(3*100%/12);
    max-width: 100%;
}
.col-9 {
    flex: 0 0 calc(9*100%/12);
    max-width: 100%;
}
.list-unstyled {
    list-style: none;
    margin: 0.2em 0 0 0.2em;
}
.list-unstyled li a {
    color: var(--primary-color3);
    text-decoration: none;
}
.li-inline {
    display: inline;
}
.section-style {
    margin-bottom: 2rem;
} 
.section-style p {
    margin: 0.1em 0.1em;
    text-align: center;  
}

/*footer*/
.bg {
    color: var(--primary-color3);
}
.mt-3 {
   margin-top: 1.5rem !important;
}
.pt-5,
.py-5 {
    padding-top: 3rem !important;
}
.pt-4,
.py-4 {
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
}
.text-uppercase {
    text-transform: uppercase;
    letter-spacing: 0.1em;
}
.m-0 {
    margin: 0;
}
.p-0 {
    padding: 0;
}

.mb-0,
.my-0 {
    margin-bottom: 0 !important;
}
.mb-1 {
    margin-bottom: 0.25rem !important;
}

.mb-2,
.my-2 {
    margin-bottom: 0.5rem !important;
}
.mb-3 {
    margin-bottom: 0.75rem !important;
}

.mt-3,
.my-3 {
    margin-top: 1rem !important;
}
.footer-socials a i{
    display: inline-block;
    text-align: center;
    line-height: 2em;
    color: var(--primary-color3);
    width: 2em;
    height: 2em;
    margin-left: 5px;
    border: 1px solid var(--primary-color5);
    border-radius: 50px;
}
.text-muted {
    color: var(--primary-color3);
}
.ta {
    text-align: center;
}