/*main style*/
@import
"https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,900;1,300;1,400;1,700&display=swap";

@import
"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css";

:root {
    --primary-color1: hsl(240, 41%, 97%);
    --primary-color2: hsl(221, 71%, 80%);
    --primary-color6: hsl(0, 11%, 86%);
    --primary-color3: black;
    --primary-color4: hsl(51, 96%, 51%);
    --primary-color5: rgb(48, 52, 58);
}

*, 
*::before, 
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 14px; 
    line-height: 1.5;
 }
  
 body {
 overflow-x: hidden;
 color: var(--primary-color3);
 font-weight: 400; 
 font-weight: 400; 
 font-weight: 400; 
 font-size: 1rem;
 line-height: 1.5;
 width: 100%;
 font-family: 'Roboto', sans-serif;
 background: var(--primary-color6);
 /*background-image: url(../images/background-7.jpg);
 filter: alpha(Opacity=90);
 background-size: cover;
 background-position: center;
 background-repeat: no-repeat;
 background-attachment: fixed*/
 } 
.container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/*Навигация */

nav {
    margin-bottom: 2rem;
    margin-top: 1.5rem;
}
.navbar-brand{
    font-size: 1.5rem;
    display: inline-block;
    color: var(--primary-color3);
    padding-top: 0.3125rem;
    padding-right: 0.3125rem;
    white-space: nowrap;
    font-weight: 600;
}

.nav-center {
    
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap;
    position: relative;
}
.navbar-links ul {
    list-style: none;
}

.navbar-nav {
    display: flex;
    transition: all 0.3s;
}
.navbar-nav a {
    display: block;
    padding: 0.75rem;
    margin: 0 1rem;
    text-decoration: none;
    color: var(--primary-color3);
    background: transparent;
    text-transform: capitalize;
}
.navbar-nav a:hover {
    color: var(--primary-color4);
    text-decoration: underline;
}
.navbar-links {
    overflow: hidden;
    height: 0; 
    transition: all 0.3s;
 }
.navbar-tool {
    position: absolute;
    top: 0.5rem;
    right: 2rem;
}
.navbar-tool li{
    list-style: none;
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    color: var(--primary-color5);
}
.navbar-tool li a:hover {
    color: var(--primary-color4);
}
.navbar-tool li a {
    padding: 0 0.3em;
    color: var(--primary-color5);
    text-decoration: none;
}
.nav-toggle {
    font-size: 1.5rem;
    color: var(--clr-grey-1);
    background: transparent;
    border-color: transparent;
    cursor: pointer;
}

.nav-toggle:hover {
    color: var(--primary-color4);
}

.categories{
    text-align: auto;
}
.categories a{
    text-decoration: none;
    color: var(--primary-color3--);
}
.categories a:hover{
    color: var(--primary-color4);
}
.category-item {
    display: block;
    position: relative;
    color: var(--primary-color3);
}
  
.category-item-title {
    display: inline-block;
    padding: 0.5 rem 1 rem;
    background-color: var(--primary-color6);
    text-transform: uppercase;
    position: absolute;
    top: 80%;
    right: 0%;
    font-size: 1.2rem;
}

/*Баннер*/
.hero {
    min-height: 20vh;
    background-image: url(../images/24.jpg);
    background-size: cover;
    background-position: center;
}

.banner-style{
color: var(--primary-color5);

}
.banner-style p{
    font-style: italic;
    color: var(--primary-color1);
}
.banner-style a{
  color: var(--primary-color1)
}
.d-block{
    display: block !important;
}

.d-flex{
    display: flex !important;
}
/*Витрина*/
.row {
    display: flex;
    flex-wrap: wrap;
    padding-right: -15px;
    padding-left: -15px;
}
.product {
    background-color: var(--primary-color1);
}
.text-center {
    text-align: center !important;
}
.position-relative {
    position: relative !important;
}
.card {
    background-color: var(--primary-color1);
    position: relative;
}
 .card-overlay {
     width: 100%;
     position: absolute;
     left: 0;
     bottom: 0;
     display: flex;
     align-items: flex-end;
     justify-content: center;
     padding: 1rem 0;
     opacity: 0;
     transform: all 0.3s;
}
.card:hover .card-overlay{
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 1rem 0;
    opacity: 1;
    transform: all 0.3s;
}
.card img{
    transition: all 0.5s;
}

.card:hover img{
    transition: all 0.3s;
    filter: grayscale(40%);
    opacity: 0.3;
}
 .reset-anchor {
    color: inherit;
    margin-bottom: 2rem;
}

.reset-anchor:hover,
.reset-anchor:focus {
    text-decoration: none;
    color: var(--primary-color4);
    text-align: center;
}
.btn {
    color: #212529;
    background-color: transparent;
    text-align: center;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: 0.375rem 0.2rem;
    border-radius: 0.25rem;
}
.btn:hover {
    color: var(--primary-color4);
    text-decoration: none;
}

img {
    display: block;
}
.img-fluid {
    max-width: 98%;
}
.img-fluid-1 {
    max-width: 99%;
    border: 5px solid var(--primary-color1);
    border-radius: 2em;
}    
.list-unstyled {
    list-style: none;
    margin: 0.2em 0 0 0.2em;
}
.list-inline-item {
    display: inline-block;
}

.list-unstyled li a {
    color: var(--primary-color3);
    text-decoration: none;
}
.li-inline {
    display: inline-block;
}
.section-style {
    margin-bottom: 2rem;
} 
.section-style p {
    margin: 0.1em 0.1em;
    text-align: center;  
}


/*footer*/
.btn-block {
    display: block;
    width: 100%;
}
.btn-dark {
    color: white;
    background-color: var(--primary-color5);
    border-color: #343a40;
}

.btn-dark:hover {
    color: #dcb14a;
    background-color: #23272b;
    border-color: #1d2124;
}

.bg {
    color: var(--primary-color3);
    background-color: var(--primary-color1);
}
.bg-footer {
    background-color: var(--primary-color6);
}
.bg-dark {
    background-color: #343a40 !important;
    color: white;
}
.footer-link {
    font-size: 0.9rem;
    color: var(--primary-color4);
}

.footer-link:hover,
.footer-link:focus {
    padding-left: 0.2rem;
    color: var(--primary-color4);
    text-decoration: none;
    
}
.pt-2,
.py-2 {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}
.pt-5,
.py-5 {
    padding-top: 3rem !important;
}
.pt-4,
.py-4 {
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
}

.text-uppercase {
    text-transform: uppercase;
    letter-spacing: 0.1em;
}
.m-0 {
    margin: 0;
}
.p-0 {
    padding: 0;
}
.p-4 {
    padding: 1.5rem;
}
.pb-3 {
    padding-bottom: 1.5rem;
}
.pt-3 {
    padding-top: 1.5rem;
}
.px-4 {
    padding-right: 1.5rem !important;
}

.pl-2,
.px-2 {
    padding-left: 1rem !important;
}
.pl-4,
.px-4 {
    padding-left: 1.5rem !important;
}

.pb-5{
    padding-bottom: 3rem !important;
}


.mb-0,
.my-0 {
    margin-bottom: 0 !important;
}
.mb-1 {
    margin-bottom: 0.25rem !important;
}

.mb-2,
.my-2 {
    margin-bottom: 0.5rem !important;
}
.mb-3,
.my-3 {
    margin-bottom: 1rem !important;
}

.mt-3,
.my-3 {
    margin-top: 1.5rem !important;
}
.mr-3,
.mx-3 {
    margin-right: 1rem !important;
}
.mb-4,
.my-4 {
    margin-bottom: 1.5rem !important;
}
.mb-5,
.my-5 {
    margin-bottom: 2rem !important;
}

.m-auto {
    margin: auto !important;
}

.mr-auto,
.mx-auto {
    margin-right: auto !important;
}

.mb-auto,
.my-auto {
    margin-bottom: auto !important;
}

.ml-auto,
.mx-auto {
    margin-left: auto !important;
}
.mx-0{
    margin-left: 0 !important;
}

.small {
    font-size: 0.9em;
}
.footer-socials a i{
    display: inline-block;
    text-align: center;
    line-height: 2em;
    color: var(--primary-color3);
    width: 2em;
    height: 2em;
    margin-left: 5px;
    border: 1px solid var(--primary-color5);
    border-radius: 50px;
}
.social-icon i.fa-facebook:hover {
    background-color: #3b5998;
    border-color: #3b5998;
}
.social-icon a.facebook:hover {
    color: #3b5998;
    font-weight: 600;
}
.social-icon i.fa-twitter:hover {
    background-color: #55acee;
    border-color: #55acee;
}
.social-icon a.twitter:hover {
    color: #55acee;
    font-weight: 600;
}
.social-icon i.fa-instagram:hover{
    background-color: #3f729b;
    border-color: #3f729b;
}
.social-icon a.instagram:hover {
    color: #3f729b;
    font-weight: 600;
}
.social-icon i.fa-google-plus:hover{
    background-color: #dd4b39;
    border-color: #dd4b39;
}
.social-icon a.google-plus:hover {
    color: #dd4b399b;
    font-weight: 600;
}
.text-muted {
    color: var(--primary-color3);
}
.ta {
    text-align: center;
}
.justify-content-center {
    justify-content: center !important;
}
.justify-content-end {
    justify-content: flex-end !important;
}
.justify-content-around {
    justify-content: space-around !important;
}
.align-items-end {
    align-items: flex-end !important;
}

.align-items-center {
    align-items: center !important;
}

.border {
    border: 1px solid #dee2e6 !important;
}

.border-top {
    border-top: 1px solid #1d1d1d !important;
}

.border-right {
    border-right: 1px solid #dee2e6 !important;
}

.border-bottom {
    border-bottom: 1px solid #dee2e6 !important;
}

.border-left {
    border-left: 1px solid #dee2e6 !important;
}

.border-0 {
    border: 0 !important;
}

.border-top-0 {
    border-top: 0 !important;
}

.border-right-0 {
    border-right: 0 !important;
}

.border-bottom-0 {
    border-bottom: 0 !important;
}

.border-left-0 {
    border-left: 0 !important;
}

.border-primary {
    border-color: #007bff !important;
}

.border-secondary {
    border-color: #6c757d !important;
}

.border-success {
    border-color: #28a745 !important;
}

.border-info {
    border-color: #17a2b8 !important;
}

.border-warning {
    border-color: #ffc107 !important;
}

.border-danger {
    border-color: #dc3545 !important;
}

.border-light {
    border-color: #f8f9fa !important;
}

.border-dark {
    border-color: #343a40 !important;
}

.border-white {
    border-color: #fff !important;
}

