/*forms*/

.form-control {
    display: block;
    width: 95%;
    height: calc(15rem+0.75rem+2px);
    padding: 0.375rem 0.75rem;
    font-size: 1em;
    line-height: 1.5;
    color: var(--primary-color5);
    background-color: var(--primary-color2);
    border: 1px solid var(--primary-color5);
    border-radius: 0.25rem;
}
.form-control:focus{
    display: block;
    width: 97%;
    color: var(--primary-color3);
    background-color: var(--primary-color1);
    border-width: 2px;
    outline: 0; 

}
.btn-submit {
    width: 95%;
    height: calc(15rem+0.75rem+2px);
    padding: 0.375rem 0.75rem;
    font-size: 1em;
    line-height: 1.5;
    border: 1px solid var(--primary-color5);
    border-radius: 0.25rem;  
}
.modal{
    position: fixed;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    background: transparent;
    z-index: 1000000;
    transform: all 2s ease-out;
    transition-delay: 0,2s;
    pointer-events: none;

}
.modal .dialog {
    margin: 0 auto;
    width: 50vw;
    position: relative;
    top: -1000px; 
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: linear-gradient(white, var(--primary-color5));
    box-shadow: 0 0 10px #777;
}
.modal:target {
    display: block;
    pointer-events: auto;
    background: rgba(4, 10, 30, 0.8);
    transition: all 0.5s ease-out;

}
.modal:target .dialog {
    top: 30px;
    transform: all 0.9s ease-out;
    transition-delay: 0.4s;
}
.close{
    background: var(--primary-color5);
    color: seashell;
    line-height: 26px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: 600;
    border-radius: 12px;
    box-shadow: 0 0 10px #000;
    transition: all 0.5s ease-out;
    transition-delay: 0.2s;
}
.form-link{
     color: var(--primary-color2);
     font-size: 0.95rem;
}
.form-link:hover{
    color: var(--primary-color4);
    font-size: 1rem;
}
.over{
    position: fixed;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(4, 10, 30, 0.5);
    z-index: 10;
    transform: all 0.5s ease-out;
    transition-delay: 0,2s;
    width: 100%;
    height: 100%;
    visibility: hidden;
}

.over.active{
    visibility: visible;
}

.container-wrapper{
background-color: white;
border-radius: 10px;
box-shadow: 0 15px 28px rgba(0, 0, 0, 25) 0 10px 10px rgba(0, 0, 0, 22);
position: relative;
overflow: hidden;
width: 100%;
max-width: 100%;
min-height: 480px
}
.form-container{
    position: absolute;
    top: 0;
    height: 100%;
}

.contact-container{
    left: 0;
    width: 50%;
}
.address-container{
    right: 0;
    width: 50%;
}
.social{
display: inline-block;
    text-align: center;
    line-height: 2em;
    color: var(--primary-color3);
    width: 2rem;
    height: 2rem;
    margin-left: 5px;
    border: 2px solid var(--primary-color3);
    border-radius: 50px;
}
.social i.fa-facebook:hover {
    background-color: #3b5998;
    border-color: #3b5998;
}
.social a.facebook:hover {
    color: #3b5998;
    font-weight: 600;
}
.social i.fa-twitter:hover {
    background-color: #55acee;
    border-color: #55acee;
}
.social a.twitter:hover {
    color: #55acee;
    font-weight: 600;
    
}
.social i.fa-instagram:hover{
    background-color: #3f729b;
    border-color: #3f729b;
}
.social a.instagram:hover {
    color: #3f729b;
    font-weight: 600;
}
.social i.fa-google-plus:hover{
    background-color: #dd4b39;
    border-color: #dd4b39;
}
.social a.google-plus:hover {
    color: #dd4b399b;
    font-weight: 600;
}

.social-container{
    background-color: rgb(235, 174, 8);
    border: none;
    padding: 0 50px;
    margin: 8px 0;
    height: 100%;
    text-align: center;
}
.form-container input{
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
}
.form-container label{
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
    text-align: left;
}
.form-control-about{
    display: block;
    width: 100%;
    height: calc(15rem+0.75rem+2px);
    padding: 0.375rem 1rem;
    font-size: 1em;
    line-height: 1.5;
    color: var(--primary-color5);
    background-color: var(--primary-color6);
    border: 1px solid var(--primary-color1);
    border-radius: 0.25rem;
}
.fa-hand-point-right {
    margin-right: 1rem;
}

